### Create a function to compare two integers

In [9]:
def total(num1,num2):
    #create a function that compares two integers
    #create two variables, total and list
    #total variable to calculate total of the numbers between integers
    #list variable to create a list to hold both integers
    total = 0
    list = [num1, num2]
    for num in list:
        if list[0] > list[1]:
        #if num1 is greater than num2
        #print a statement stating the total between is 0
            print('The total of the numbers in between is 0')
            break
        elif list[0] == list[1]:
        #if num1 is equal to num2
        #print a statement stating the total between is the value of the first integer
            print('The total of the numbers in between is', list[0])
            break
        else:
        #if num1 is less than num2
        #calculate the total of the numbers between the two variables
        #print a statement stating the total between is the value of the total variable
            for num in range(list[0],list[1]+1):
                total += num
            print('The total of the numbers in between is', total)
            break

#prompt the user to input two integers
#call the total function                  
num1 = int(input('Enter the first number:'))
num2 = int(input('Enter the second number:'))
total(num1,num2)

Enter the first number:2
Enter the second number:12
The total of the numbers in between is 77

### Create a function to return statistics on a dataframe

In [11]:
#Create a function that returns the mean, sum, mode, median, and range (separately)
#Run the function into your chosen data set using the .apply() method.
from scipy import stats
import numpy as np

df = pd.read_csv('https://raw.githubusercontent.com/frankData612/data_612/master/State_Drug_Utilization_Data_2010/State_Drug_Utilization_Data_2010.csv')

def descrip_stats(x):
    """Return the mean, sum, mode, median and range"""
    mean = np.mean(x)
    sum1 = np.sum(x)
    mode = stats.mode(x)
    median = np.median(x)
    range1 = (np.amax(x) - np.amin(x))
    return (mean,sum1,mode,median,range1)

results = (df[['Number of Prescriptions']].apply(descrip_stats))
results1 = results.iloc[2,0]
print('The mean is {}'.format(results.iloc[0, 0]))
print('The sum is {}'.format(results.iloc[1,0]))
print('The mode is {}'.format(results1[0]))
print('The median is {}'.format(results.iloc[3,0]))
print('The range is {}'.format(results.iloc[4,0]))

The mean is 316.78006657278195
The sum is 49487382
The mode is [1]
The median is 13.0
The range is 389126

C:\Users\rewar\AppData\Local\Temp\ipykernel_38668\1154016642.py:12: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode = stats.mode(x)

### Create a function to provide summary statistics on a dataframe

In [12]:
homegames_df = pd.read_csv('https://raw.githubusercontent.com/frankData612/data_612/master/baseballdatabank-master/core/HomeGames.csv')
parks_df = pd.read_csv('https://raw.githubusercontent.com/frankData612/data_612/master/baseballdatabank-master/core/Parks.csv')
combined_df = homegames_df.merge(parks_df, left_on='park.key', right_on='park.key')
combined_df = combined_df.fillna(method='ffill')
combined_df = combined_df.fillna(method='bfill')

combined_df.rename({'year.key':'year', 'league.key':'league', 'team.key':'team', 'park.key':'park_key', 
                    'span.first':'span_first','span.last':'span_last', 'games':'games', 'openings':'openings',
                    'attendance':'attendance', 'park.name':'park_name', 'park.alias':'park_alias', 'city':'city', 
                    'state':'state', 'country':'country'}, axis='columns', errors='raise', inplace=True)

def summarize_data(x):
    return (pd.Series({
            'avg_games': x.games.mean(),
            'min_games': x.games.min(),
            'max_games': x.games.max(),
            'std_dev_games': x.games.std(),
            '1st_quartile': x.games.quantile(q=0.25),
            '2nd_quartile': x.games.quantile(q=0.50),
            '3rd_quartile': x.games.quantile(q=0.75),
            'sample_count': len(x),
            'proportion': x.games.count()/combined_df.games.count()
        }))

combined_df.groupby('league').apply(summarize_data)

,avg_games,min_games,max_games,std_dev_games,1st_quartile,2nd_quartile,3rd_quartile,sample_count,proportion
league,,,,,,,,,
AA,41.926829,1.0,82.0,25.613832,16.00,52.0,61.00,123.0,0.039575
AL,75.446469,1.0,84.0,14.446618,77.00,80.0,81.00,1317.0,0.423745
FL,77.687500,74.0,83.0,2.676285,75.75,77.0,79.25,16.0,0.005148
NL,69.860123,1.0,89.0,20.928128,72.00,78.0,81.00,1630.0,0.524453
PL,66.500000,62.0,73.0,3.422614,65.00,65.5,67.00,8.0,0.002574
UA,30.571429,1.0,65.0,22.886725,8.25,35.0,51.25,14.0,0.004505

### Create a function to summarize data in a dataframe

In [13]:
def summarize_data(x):
    return (pd.Series({
            'sample_count': x.park_name.count(),
            'park_name (first alpha)': x.park_name.min(),
            'park_name (last alpha)': x.park_name.max(),       
            'proportion': x.league.count()/combined_df.league.count()
        }))

combined_df.groupby('league').apply(summarize_data)

,sample_count,park_name (first alpha),park_name (last alpha),proportion
league,,,,
AA,123,23rd Street Park,Windsor Beach,0.039575
AL,1317,American League Park I,Yankee Stadium II,0.423745
FL,16,Exposition Park III,Wrigley Field,0.005148
NL,1630,23rd Street Park,Wrigley Field,0.524453
PL,8,Brotherhood Park,South Side Park II,0.002574
UA,14,Athletic Park,Wright Street Grounds,0.004505